.hover-cursor-event:hover{
    cursor: pointer;
}

.underline-onhover:hover{
    text-decoration: underline 1px solid var(--txt-color-primary);
}

.focus-cursor-event:focus{
    outline: 2px solid var(--bg-tertiary);
}