article{
    width: 100%; min-height: 100vh;
    display: flex; flex-direction: column;
}
.thumbnail{
    width: 100%; height: 80vh;
}
.description{
    width: 100%;
    padding-block: 60px;

    display: flex; flex-direction: column;
    align-items: center;

    background-color: var(--bg-tertiary);
    color: white;
    .description-title{
        padding-bottom: 40px;
        font-size: clamp(30px, 4vw, 100px);
        text-align: center;
    }
    p{
        padding-block: 10px;
        max-width: 60%;
        font-size: clamp(12px, 2vw, 16px);
    }
}

#art1 .thumbnail{
    background: url('../img/article1_thumbnail.jpg') 50% 50%/ cover;
}
#art2 .thumbnail{
    background: url('../img/article2_thumbnail.jpg') 50% 50%/ cover;
}