
:root{
    --bg-primary: white;
    --bg-secondary: #a2a2a2;
    --bg-tertiary: black;

    --txt-color-primary: black;
    --description-color: white;
    --link-color: rgb(0, 98, 255);
}

*, body{
    padding: 0; margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: var(--bg-primary);
    color: var(--txt-color-primary);
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
    min-height: max-content;
    position: relative;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--txt-color-primary);
}

.art-link{
    color: var(--link-color);
}

#main{
    min-height: 100vh;
    margin-top: 140px;
}

#footer{
    margin-top: 80px;
    width: 100%;

    display: flex; flex-direction: column;
    align-items: center;

    font-size: clamp(8px, 1vw, 16px);
    .navlist{
        width: 80%;
        padding-block: 10px 30px;
        margin-bottom: 40px;

        display: flex;
        border-top: 1px solid var(--bg-tertiary);
        li{
            padding-inline: 2vw;
        }
    }
    .copyrights{
        width: 100%;
        padding-top: 10px;
        
        border-top: 1px solid var(--bg-tertiary);
        p{
            padding: 5px 25px;
        }
        a{
            color: var(--bg-secondary);
        }
    }
}