
:root{
    --bg-primary: white;
    --bg-secondary: rgb(255, 143, 197);
    --bg-tertiary: rgb(255, 0, 123);

    --txt-color-primary: black;
    --weak-txt-color: rgb(152, 152, 152);
    --description-color: white;
}

*, body{
    padding: 0; margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bg-primary);
    color: var(--txt-color-primary);
    font-family: 'Playfair Display';
    min-height: 100vh;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--txt-color-primary);
}